#
# Created at: 2026-05-31 15:34
# Updated at: 2026-05-31 15:34
# Description: Example shared Vite environment values for frontend widget configuration.
#

# ###############################################
# Widget Loader
# ###############################################

VITE_WIDGET_BACKEND_URL=http://localhost:3000
VITE_WHATSAPP_WIDGET_PLATFORM_ID=cf2279be-c532-44d8-8ca3-b74d0c1d96f6
